:root {
  --main-color: #0084fd;
  --bg-main-color: #b5ddff;
  --secondary-color: #9792e4;
}
/*-----------------GENERAL-----------------*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

html {
  scroll-behavior: smooth;
}

header {
  width:100%;
  background-color: var(--main-color);
}

h3 {
  font-size:1.4rem;
}

.flex {
  display:flex;
}

.wrap {
  flex-wrap:wrap;
}

.section {
  padding:30px 0px;
}

.width {
  width:100%;
}

.container {
  padding:0px 30px;
}

.col {
  padding:16px;
}

button:hover {
  cursor: pointer;
}

/*-----------------HEADER-----------------*/
.head-flex-attr {
  justify-content: space-between;
  align-items: center;
}

.burger-menu-nav {
  display:none;
  position:absolute;
  top:50px;
  background-color: var(--main-color);
  width:100%;
  left:0;
}

.bm-btn:focus~.burger-menu-nav {
  display:block;
}

.header-pad {
  padding: 10px 25px;
}

.bm-btn {
  background-color: transparent;
  border:none;
  color:white;
}

.bm-btn i {
  font-size:1.3rem;
}

.links {
  align-items: center;
  list-style: none;
  justify-content: flex-end;
}

.links a {
  text-decoration: none;
  color:white;
}

.links li {
  margin:10px;
}

.menu-btn {
  color:black;
  background-color: white;
  padding:10px 20px;
  border-radius: 25px;
  border:none;
  font-size:1.2rem;
}

/*-----------------MAIN-----------------*/
/*DEMO SECTION + PERKS*/
.demo-perks {
  background-color:var(--bg-main-color);
  border-radius: 25px;
  margin:15px 0px;
}

.row {
  justify-content: center;
}

.phone {
  margin-bottom:-20px;
}

.col-txt {
  padding:15px;
}

.col-txt h3 {
  color:var(--main-color);
}

.col-txt p {
  color:rgb(90, 90, 90);
  padding:25px 0px;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.btn {
  justify-content:center;
}

.blue-btn {
  color:white;
  background-color:var(--main-color);
  border-radius:25px;
  border:none;
  padding:10px 30px;
  letter-spacing: 0.2rem;
}

.perk {
  text-align:center;
  padding:0;
}

.icon-customize {
  color:var(--main-color);
  font-size: 6rem;
  padding:20px;
}

/*STRATEGIC PLANNING SECTION*/
.strategic-section-bg {
  background-color: var(--secondary-color);
  width:100%;
}

.app-development {
  background-color: white;
  border-radius: 25px;
  padding:16px;
  margin-top:30px;
}

.scroll-btn button {
  border:none;
  background-color: transparent;
  font-size:1.5rem;
}

.scroll-btn {
  padding:15px 20px;
  background-color: var(--secondary-color);
  width:fit-content;
  border-radius: 50%;
  margin:auto;
  margin-top:15px;
  margin-bottom:15px;
}

.strat-plan {
  color: white;
  text-align: center;
}

.sp-title {
  margin: 30px 0px;
}

.dev-app-txt {
  line-height: 1.8rem;
  text-align: center;
}

.dev-app-txt h3 {
  font-size: 1.2rem;
  margin:10px 0px;
}
.wrap-strategic {
  flex-wrap: wrap;
}
/*PARTNERS*/
.partners {
  text-align: center;
}

.partners h4 {
  color: #d5d4f4;
}

.partners h2 {
  color:var(--secondary-color);
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-top:20px;
  margin-bottom:20px;
}

.partners p {
  line-height: 2rem;
  font-size: 1rem;
}

.card {
  background-color:var(--secondary-color);
  border-radius: 35px;
  padding:30px 20px;
  text-align: center;
  margin-bottom:20px;
  margin-top:10px;
}

.card-pic-div {
  margin:auto;
  height:230px;
  width:230px;
  border-radius:50%;
  background-size: cover;
  background-position: center;
}

.nat-pic { 
  background-image: url(../img/testimonial1.jpg);
}

.celia-pic {
  background-image: url(../img/testimonial2.jpg);
}

.bob-pic {
  background-image: url(../img/testimonial3.jpg);
}

.card i,
.card p,
.card span {
  color:white;
  line-height: 1.8rem;
}

.card p {
  margin-bottom:30px;
}

.card span {
  font-weight: 600;
  font-size: 1.2rem;
}

/*BENEFIT WORKING WITH US*/
.benefit-section-bg {
  background-color: var(--secondary-color);
  padding-top:30px;
  padding-bottom:50px;
}

.benefit-section {
  max-width:1200px;
  margin:auto;
  gap:20px;
}

.benefits {
  background-color: white;
  width:100%;
  padding:30px 20px;
  border-radius: 20px;
  margin-top:20px;
  color:var(--secondary-color);
}

.benefits p {
  color: rgb(90, 90, 90);
  font-weight: 700;
  line-height: 1.8rem;
}

.benefit-title {
  font-size:2rem;
}

.benefits h2 {
  font-size: 2.5rem;
}

.benefits h3 {
  margin-bottom:20px;
  margin-top:20px;
}

.benefit-title{
  font-size: 1.8rem;
  text-align: center;
  color:white;
}

.violet-btn {
  background-color: var(--secondary-color);
  margin-top:30px;
  margin-bottom:30px;
}

/*About Us*/
.about-us {
  max-width:1000px;
  margin:auto;
}

.about-us-txt h2{
  font-size: 2.5rem;
  color:var(--secondary-color);
  margin-top:30px;
  margin-bottom:30px;
}

.about-us-txt p {
  line-height: 2.3rem;
  color:rgb(90, 90, 90);
  font-weight: 600;
  margin-bottom:30px;
}

.linkedin-pic {
  background-image: url(../img/about.jpg);
  position:relative;
  margin-bottom:20px;
  margin:0;
}

.linkedin-pic span {
  color:var(--secondary-color);
  font-size:4rem;
  position:absolute;
  top:0;
  left:75%;
}

.linkedin-txt {
  color:var(--secondary-color);
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.3rem;
  margin-bottom:20px;
}

.linkedin-btn {
  border-radius:25px;
  background-color: var(--secondary-color);
  color:white;
  border:none;
  padding:10px 20px;
}
/*-----------------FOOTER-----------------*/
/*GET STARTED*/
.get-start-bg {
  background-color: var(--secondary-color);
}

.get-started {
    margin:auto;
    text-align: center;
  }

.get-started h3 {
  font-size:1rem;
  font-weight: 100;
  color: #d5d4f4;
  margin-top:30px;
}

.get-started h2 {
  font-size: 2rem;
  color:white;
  margin-top:20px;
  margin-bottom:20px;
}

.get-started h1 {
  font-size:3rem;
  color:#fdc15f;
}

.get-started p {
  color:white;
  line-height:1.8rem;
  margin-top:20px;
  margin-bottom:20px;
}

.get-started-btn button {
  background-color: white;
  color:var(--secondary-color);
  font-size:1rem;
  font-weight: 700;
  padding: 20px 60px;
  border-radius:30px;
  margin-bottom:20px;
}

.get-started span,
.get-started a {
  color:white;
  font-size:0.8rem;
}

/*Foote links*/

.foot-links-bg {
  background-color: #333;
}
.foot-width {
  max-width:500px;
  margin:auto;
  color:white;
  text-align: center;
}

.foot-width div {
  margin:40px;
}

.foot-width a {
  color:var(--secondary-color);
}


/*-----------------RESPONSIVE SETTINGS-----------------*/
@media screen and (min-width: 375px){
  .container {
    width:100%;
  }
  .flex {
    display:flex;
  }
}

@media screen and (min-width: 550px){
  /*first section - get a demo application*/
  .row {
    width:100%;
    max-width:1200px;
    margin:auto;
    gap:20px;
  }
  .section {
    padding:30px 20px;
  }
  .wrap {
    flex-wrap:nowrap;
  }
  .demo-perks {
    width:calc(100%/3);
  }
  .phone-div {
    flex-wrap:wrap;
    width:calc(((100% / 3) * 2) + 20px);
  }
  .phone {
    margin-bottom:-20px;
  }
  .container{
    padding: 0px 0px;
  }
  /*second dection - strategic planning and app development*/
  .stat-plan-txt h2 {
    font-size: 4rem;
  }
  .stat-plan-txt h2,
  .stat-plan-txt p {
    text-align: left; 
  }
  .strat-planning-full {
    width:100%;
  }
  /*Partners*/
  .partners {
    max-width: 1200px;
    margin:auto;
  }
  /*benefits*/
  .benefit-section-bg {
    background-color: var(--secondary-color);
    padding-top:30px;
  }
  .benefit-section {
    padding:0px 20px;
    display:flex;
    flex-wrap: wrap;
  }
  .benefits {
    width: calc(50% - 20px);
    margin:auto;
  }
  .benefits h2{
    font-size: 4rem;
  }
  .benefit-title{
    font-size: 2rem;
    text-align: center;
    color:white;
    padding-bottom:30px;
  }
}

@media screen and (min-width: 750px){
  /*Partners*/
  .card {
    display:flex;
    align-items: center;
    text-align: left;
  }
  .card p, 
  .card span {
    margin-left:30px;
  }
  /*Benefits*/
  .benefit-section-bg {
    padding:20px;
  }
  .benefit-section {
    padding:0;
  }
  /*About us*/
  .about-us {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-us-txt {
    width:60%;
  }
  .linkedin {
    width:30%;
    margin-top:30px;
  }
  /*Get started*/
  .get-started p {
    width:60%;
    margin:auto;
    margin-top: 30px;
    margin-bottom:30px;
  }
}

@media screen and (min-width: 900px) {
  /*second section*/
  .strat-planning-full {
    width:45%;
  }
  .strategic-section-bg .container {
    max-width:900px;
    margin:auto;
  }
  .stat-plan-txt h2 {
    margin-top:170px;
    margin-bottom:50px;
    font-size: 2.5rem;
  }
  .app-development {
    margin-top:200px;
  }
  .wrap-strategic {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  /*partners*/
  .partners h4 {
    font-size:1.2rem;
  }
  .partners h2 {
    font-size: 2.5rem;
  }
  /*benefits*/
  .benefit-section-bg {
    padding:30px;
  }
  .benefit-section {
    padding:0;
  }
  .benefits {
    background-color: white;
    width:calc((100% / 3) - 20px);
    padding: 30px 20px;
    border-radius: 20px;
  }
  .benefit-title{
    font-size: 2.3rem;
    text-align: center;
    color:white;
    padding-bottom:30px;
  }
  /*About Us*/
  .about-us {
    display:flex;
  }
  /*Get started*/
  .get-started h1 {
    font-size:5rem;
  }
  .get-started h2 {
    font-size:3.5rem;
  }
  .get-started h3 {
    font-size:1.9rem;
  }
  .get-started p {
    max-width:500px;
  }
  .foot-width-s  {
    color:var(--secondary-color);
    max-width:480px;
  }
}

@media screen and (min-width: 1200px) {
  /*header + 1st section*/
  .bm-btn {
    display:none;
  }
  .burger-menu-nav {
    display:block;
    position:initial;
  }
  .links {
    display:flex;
    list-style: none;
  }
  .head-max-width {
    max-width:1200px;
    margin:auto;
    padding-left:0px;
    padding-right:0px
  }
  .blue-btn:hover {
    cursor: pointer;
  }
  .wrap {
    flex-wrap:nowrap;
  }
  .row {
    width:100%;
    max-width:1200px;
    margin:auto;
    gap:20px;
  }
  .phone {
    margin-bottom:-21px;
  }
  .phone-div {
    flex-grow:1;
  }
  .btn{
    justify-content: flex-start;
  }
  /*Benefits*/
  .benefits h2{
    font-size: 5rem;
    margin-top:30px;
    margin-bottom:30px;
  }

}